@use "variables" as *;

.watchList {
  position: fixed;
  justify-content: center;
  display: flex;
  bottom: 0;
  background-color: #222222ee;
  height: 23px;
  width: 100vw;
}

@keyframes heightWatchList {
  0% {
    height: 0;
  }
  100% {
    height: calc(100vh - 33px);
  }
}
.watchListPageContainer {
  overflow: auto;
  height: calc(100vh - 33px);
  animation: heightWatchList 0.3s linear;
  animation-iteration-count: 1;
  width: 100vw;
  background-color: $movie-bg-color;
  display: flex;
  flex-direction: column;
  z-index: 4000;
  padding-top: 33px;
  position: fixed;
  top: 33px;
  .empty {
    width: 100vw;
    @include otherFonts;
    position: absolute;
    top: 30%;
    right: -40%;
  }
  .watched {
    background-color: #54a35455;
  }
  .listItemContainer {
    display: flex;
    flex-direction: column;
    margin: 2px;
    position: relative;
    .watchedPopup{
      position: absolute;
      color:red;
      z-index: 5;
      top: 40%;
      left: 40%;
      font-size: 2em;
      transform: translate(-50%,-50%);
      background-color: #222222ee;
      transform: rotate(-30deg);
      border: 4px solid red;
      padding: 6px;
    }
    .completion {
      display: flex;
      border-bottom: 1px solid #333333ee;
      flex-direction: row;
      justify-content: space-around;
      .remove {
        cursor: pointer;
      }
      .complete {
        cursor: pointer;
      }
    }
    .watchListMovieDetails {
      display: grid;
      grid-template-columns: 120px calc(100% - 120px);
      margin: 4px;
      padding: 5px;
      position: relative;
      .img {
        img {
          width: 120px;
        }
      }
      .movieDetails {
        padding: 8px;
        overflow: auto;
        color: white;
        max-height: 30vh;
        ul {
          li.title {
            @include titleFont;
            font-size: 1.5em;
          }
          li {
            list-style-type: none;
            @include descriptionFont;
          }
        }
      }
    }
  }
}
