@use './Navbar.scss';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
body{
  background-color: rgb(10, 10, 46);
  display: flex;
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
main{
  height: 80%;
  .jumbotron{
    padding: 5px;
    width: 100vw;
    overflow: hidden;
    height: 40vh;
    border: 2px solid  rgba(223, 202, 202, 0.274);
  }
  .section{
    border: 1px solid white;
    padding: 10px;
    width: 100vw;
    position: relative;
    h2{
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 5px;
      width: 100%;
      background-color: rgb(46, 46, 88);
      height: 30px;
      display: grid;
      place-items: center
      ;
    }
    .filter{
      position: absolute;
      display: flex;
      flex-direction: row;
      padding: 1px;
      top: 10px;
      right: 5px;
      width: 20%;
      select{
        background-color: #ffffff22;
        width: 70%;
        option{
          color: black;
          border: 0;
          outline: 0;
        }
      }
    }
    .container{
      width: 100%;
      display: flex;
      overflow: auto;
      .poster{
        min-width: 20%;
        margin: 5px;
        border: 1px solid white;
      }
    }
  }
}
.poster{
  width: 150px;
  overflow: hidden;
  img{
    width: 120px;
  }
}
footer{
  height: 20vw;
  border-top: 1px solid  rgba(223, 202, 202, 0.274);
  margin-top: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

