header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-bottom: 2px solid rgba(223, 202, 202, 0.274);
  .heading{
    text-align: center;
    height: 100%;
    padding: 3px;
    &:hover{
      background-color: rgba(135, 135, 153, 0.438);
    }
  }
  .anime{
    border-left: 1px solid white;
  }
}
